---
import { getCollection } from "astro:content";
import Nav from "../components/Nav.astro";
import SocialMedias from "../components/SocialMedias.astro";

const bio = await getCollection("bio");
const posts = await getCollection("posts");

const profile = bio[0];
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- set the language to brazilian portuguese -->
    <title>{profile.data.name}</title>
  </head>
  <body>
    <main class="flex flex-col items-center justify-center p-4 pt-10">
      <Nav />
      <ul class="grid grid-cols-3 gap-1 pt-20 max-w-[640px] w-full">
        {
          posts
            .sort((a, b) => {
              if (a.data.date < b.data.date) {
                return 1;
              }
              if (a.data.date > b.data.date) {
                return -1;
              }

              return 0;
            })
            .map((p) => (
              <li>
                <a href={p.data.url}>
                  <img
                    src={p.data.image}
                    alt={p.data.title}
                    class="aspect-square col-span-1 object-cover"
                  />
                </a>
              </li>
            ))
        }
      </ul>
      <SocialMedias />
    </main>
  </body>
</html>
