---
import { getCollection } from "astro:content";
import Nav from "../components/Nav.astro";
import SocialMedias from "../components/SocialMedias.astro";
import RouteCard from "../components/RouteCard.astro";

const bio = await getCollection("bio");
const routes = await getCollection("routes");

const profile = bio[0];
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- set the language to brazilian portuguese -->
    <title>{profile.data.name}</title>
  </head>
  <body>
    <main class="flex flex-col items-center justify-center p-4 pt-10">
      <Nav />
      <div class="grid grid-cols-2 gap-6 max-w-[640px] w-full">
        {
          routes.map((p) => (
            <RouteCard
              title={p.data.title}
              description={p.data.description}
              rating={p.data.rating}
              stravaUrl={p.data.stravaUrl}
              komootUrl={p.data.komootUrl}
              km={p.data.km}
              altGain={p.data.altGain}
            />
          ))
        }
      </div>
      <SocialMedias />
    </main>
  </body>
</html>
