---
import {
  convertDifficultyToRating,
  generateGpxLinkForStrava,
  getGpxUrl,
} from "../utils";

interface Props {
  title: string;
  description: string;
  rating: number;
  stravaUrl: string;
  komootUrl: string;
  gpxFile: string;
  km: number;
  altGain: number;
}

const {
  title,
  description,
  rating,
  stravaUrl,
  komootUrl,
  km,
  altGain,
  gpxFile,
} = Astro.props;
---

<article
  class="mx-auto max-w-sm rounded overflow-hidden shadow-lg bg-white border-2 border-gray-700 hover:shadow-2xl"
>
  <div class="px-6 py-4">
    <header class="font-bold text-xl mb-2">{title}</header>

    <!-- Badges / Pills to indicate difficulty -->
    <section class="flex flex-wrap mb-2">
      <div
        class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 mb-2 px-2.5 py-0.5 rounded inline-flex items-center"
      >
        🚴🏻‍♂️ {km} km
      </div>
      <div
        class="bg-green-100 text-green-800 text-xs font-semibold mr-2 mb-2 px-2.5 py-0.5 rounded inline-flex items-center"
      >
        ⛰️ {altGain} m
      </div>
      <p
        class="bg-red-100 text-red-800 text-xs font-semibold mr-2 mb-2 px-2.5 py-0.5 rounded inline-flex items-center"
      >
        👀 {convertDifficultyToRating(rating)}
      </p>
    </section>

    <!-- Description of the Route -->
    <section class="text-gray-700 text-base mb-4">
      {description}
    </section>

    <!-- Buttons to download GPX and view on Strava/Komoot -->
    <footer
      class="flex flex-col items-center justify-center text-center space-y-2 text-sm border-black border-t-2 pt-2"
    >
      <a
        href={getGpxUrl(gpxFile)}
        target="_blank"
        rel="noopener noreferrer"
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded w-full"
      >
        Baixar GPX
      </a>
      <a
        href={generateGpxLinkForStrava(stravaUrl)}
        target="_blank"
        rel="noopener noreferrer"
        class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded w-full"
      >
        Baixar GPX (Strava)
      </a>
      <a
        href={stravaUrl}
        target="_blank"
        rel="noopener noreferrer"
        class="border-orange-500 hover:border-orange-700 text-orange-500 hover:text-orange-700 font-bold py-2 px-4 rounded w-full border-2"
      >
        Visualizar (Strava)
      </a>
      <a
        href={komootUrl}
        target="_blank"
        rel="noopener noreferrer"
        class="border-green-500 hover:border-green-700 text-green-500 hover:text-green-700 font-bold py-2 px-4 rounded w-full border-2"
      >
        Visualizar (Komoot)
      </a>
    </footer>
  </div>
</article>
